## Task

In this compulsory task you will clean the country column and parse the date column in the **store_income_data_task.csv** file.

In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [2]:
# Load up store_income_data.csv
df = pd.read_csv('store_income_data_task.csv', skipinitialspace = True)

1. Take a look at all the unique values in the "country" column. Then, convert the column to lowercase and remove any trailing white spaces.

In [3]:
df.dtypes

id                int64
store_name       object
store_email      object
department       object
income           object
date_measured    object
country          object
dtype: object

In [4]:
print(df['country'].head())

0    United States/
1           Britain
2     United States
3          Britain/
4    United Kingdom
Name: country, dtype: object

In [5]:
df['country'] = df['country'].str.lower()
df['country'] = df['country'].str.strip(' ./')
df['country'].head()

0     united states
1           britain
2     united states
3           britain
4    united kingdom
Name: country, dtype: object

2. Note that there should only be three separate countries. Eliminate all variations, so that 'South Africa', 'United Kingdom' and 'United States' are the only three countries.

In [6]:
patten_mapping = {}
for i in df['country']:
    if type(i) == float:
        pass
    elif i == 'united states' or i == 'u.s' or 'america' in i:
        patten_mapping.update({i: 'United States'})
    elif i == 'united kingdom' or i == 'uk' or i == 'u.k' or i == 'britain' or i == 'england':
        patten_mapping.update({i: 'United Kingdom'})
    elif i == 'sa' or i == 's.a' or 'africasouth' in i:
        patten_mapping.update({i: 'South Africa'})
    else:
        patten_mapping.update({i: np.nan})
                
df['country'] = df['country'].replace(patten_mapping)
df['country'].head()

0     United States
1    United Kingdom
2     United States
3    United Kingdom
4    United Kingdom
Name: country, dtype: object

In [7]:
print(df['country'].unique())

['United States' 'United Kingdom' 'South Africa' nan]

No. There is nan data

3. Create a new column called `days_ago` in the DataFrame that is a copy of the 'date_measured' column but instead it is a number that shows how many days ago it was measured from the current date. Note that the current date can be obtained using `datetime.date.today()`.

In [8]:
time_stamp = pd.Timestamp(date.today())
df['days_ago'] = (time_stamp - pd.to_datetime(df['date_measured'], dayfirst=True))

In [9]:
print(df['days_ago'].head())

0    6628 days
1    6659 days
2    7504 days
3    6535 days
4   18695 days
Name: days_ago, dtype: timedelta64[ns]